In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Uber Review Data.csv', encoding = "ISO-8859-1")
df.head()

         Date  Stars                                            Comment
0  29/10/2019      1  I had an accident with an Uber driver in Mexic...
1  28/10/2019      1  I have had my account completely hacked to whe...
2  27/10/2019      1  I requested an 8 mile ride in Boston on a Satu...
3  27/10/2019      1  I've been driving off and on with the company ...
4  25/10/2019      1  Uber is overcharging for Toll fees. When In Fl...

In [3]:
df['Comment'] = df.Comment.map(lambda x: x.lower())

In [4]:
df

            Date  Stars                                            Comment
0     29/10/2019      1  i had an accident with an uber driver in mexic...
1     28/10/2019      1  i have had my account completely hacked to whe...
2     27/10/2019      1  i requested an 8 mile ride in boston on a satu...
3     27/10/2019      1  i've been driving off and on with the company ...
4     25/10/2019      1  uber is overcharging for toll fees. when in fl...
...          ...    ...                                                ...
2342  10/01/2014      2  everyone knows uber  is fast but when you had ...
2343  18/12/2013      1  for a service that asks for your credit card n...
2344  18/12/2013      2  great service, but hiring drivers who do not k...
2345  13/05/2013      1  uber has several problems that make it a poor ...
2346  08/05/2013      5  uber is kind of like magic. you punch a few bu...

[2347 rows x 3 columns]

In [5]:
df['Comment'] = df.Comment.str.replace('[^\w\s]', '')

In [6]:
df

            Date  Stars                                            Comment
0     29/10/2019      1  i had an accident with an uber driver in mexic...
1     28/10/2019      1  i have had my account completely hacked to whe...
2     27/10/2019      1  i requested an 8 mile ride in boston on a satu...
3     27/10/2019      1  ive been driving off and on with the company s...
4     25/10/2019      1  uber is overcharging for toll fees when in flo...
...          ...    ...                                                ...
2342  10/01/2014      2  everyone knows uber  is fast but when you had ...
2343  18/12/2013      1  for a service that asks for your credit card n...
2344  18/12/2013      2  great service but hiring drivers who do not kn...
2345  13/05/2013      1  uber has several problems that make it a poor ...
2346  08/05/2013      5  uber is kind of like magic you punch a few but...

[2347 rows x 3 columns]

In [7]:
import nltk

In [8]:
# df['Comment'] = df['Comment'].apply(nltk.word_tokenize)
df["Comment"] = df["Comment"].fillna("").map(nltk.word_tokenize)
#agar upar wala kaam nhi kare toh ise try kar lena

In [9]:
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()
 
df['Comment'] = df['Comment'].apply(lambda x: [stemmer.stem(y) for y in x])

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
df['Comment'] = df['Comment'].apply(lambda x: ' '.join(x))
count_vect = CountVectorizer()
counts = count_vect.fit_transform(df['Comment'])

In [11]:
from sklearn.feature_extraction.text import TfidfTransformer
transformer = TfidfTransformer().fit(counts)
counts = transformer.transform(counts)

In [12]:
from sklearn.model_selection import train_test_splifrom sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(counts, df['Stars'], test_size=0.3)
#X_train, X_test, y_train, y_test = train_test_split(counts, df['Stars'], test_size=0.3, random_state=42)
#d

SyntaxError: invalid syntax (<ipython-input-12-e5fde7755cf4>, line 1)

In [10]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB().fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [ ]:
predicted = model.predict(X_test)
print(np.mean(predicted == y_test))