# Data Cleaning

In [1]:
#importing necessary libraries

import pandas as pd
import numpy as np

This file is encoded to utf-8, need to decode with ISO-8859-1

In [2]:
# read csv file
df=pd.read_csv('Uber Review Data.csv', encoding = "ISO-8859-1")
df.head()

         Date  Stars                                            Comment
0  29/10/2019      1  I had an accident with an Uber driver in Mexic...
1  28/10/2019      1  I have had my account completely hacked to whe...
2  27/10/2019      1  I requested an 8 mile ride in Boston on a Satu...
3  27/10/2019      1  I've been driving off and on with the company ...
4  25/10/2019      1  Uber is overcharging for Toll fees. When In Fl...

Finding the total no of missing values

In [3]:
# to find the total no of null values in the columns 
df.isnull().sum()

Date       0
Stars      0
Comment    0
dtype: int64

In [4]:
# convert all the strings to the lower case
df['Comment'] = df.Comment.map(lambda x: x.lower())

In [5]:
df

            Date  Stars                                            Comment
0     29/10/2019      1  i had an accident with an uber driver in mexic...
1     28/10/2019      1  i have had my account completely hacked to whe...
2     27/10/2019      1  i requested an 8 mile ride in boston on a satu...
3     27/10/2019      1  i've been driving off and on with the company ...
4     25/10/2019      1  uber is overcharging for toll fees. when in fl...
...          ...    ...                                                ...
2342  10/01/2014      2  everyone knows uber  is fast but when you had ...
2343  18/12/2013      1  for a service that asks for your credit card n...
2344  18/12/2013      2  great service, but hiring drivers who do not k...
2345  13/05/2013      1  uber has several problems that make it a poor ...
2346  08/05/2013      5  uber is kind of like magic. you punch a few bu...

[2347 rows x 3 columns]

In [6]:
# remove all other symbols 
df['Comment'] = df.Comment.str.replace('[^\w\s]', '')
df

            Date  Stars                                            Comment
0     29/10/2019      1  i had an accident with an uber driver in mexic...
1     28/10/2019      1  i have had my account completely hacked to whe...
2     27/10/2019      1  i requested an 8 mile ride in boston on a satu...
3     27/10/2019      1  ive been driving off and on with the company s...
4     25/10/2019      1  uber is overcharging for toll fees when in flo...
...          ...    ...                                                ...
2342  10/01/2014      2  everyone knows uber  is fast but when you had ...
2343  18/12/2013      1  for a service that asks for your credit card n...
2344  18/12/2013      2  great service but hiring drivers who do not kn...
2345  13/05/2013      1  uber has several problems that make it a poor ...
2346  08/05/2013      5  uber is kind of like magic you punch a few but...

[2347 rows x 3 columns]

In [7]:
def sentiment(df):
    if (df['Stars'] > 3):
        return "best"
    elif (df['Stars'] < 3):
        return "worst"
    if(df['Stars'] == 3):
        return "average"

In [9]:
df['Sentiment'] = df.apply(sentiment,axis=1)

In [11]:
df

,Date,Stars,Comment,Sentiment
0,29/10/2019,1,i had an accident with an uber driver in mexic...,worst
1,28/10/2019,1,i have had my account completely hacked to whe...,worst
2,27/10/2019,1,i requested an 8 mile ride in boston on a satu...,worst
3,27/10/2019,1,ive been driving off and on with the company s...,worst
4,25/10/2019,1,uber is overcharging for toll fees when in flo...,worst
...,...,...,...,...
2342,10/01/2014,2,everyone knows uber is fast but when you had ...,worst
2343,18/12/2013,1,for a service that asks for your credit card n...,worst
2344,18/12/2013,2,great service but hiring drivers who do not kn...,worst
2345,13/05/2013,1,uber has several problems that make it a poor ...,worst
2346,08/05/2013,5,uber is kind of like magic you punch a few but...,best

### Cka

In [14]:

df.to_csv("../cleaned/uber-cleaned-data.csv",index=False,sep=",")