In [37]:
import pandas as pd

In [38]:
data = pd.read_csv('Uber Review Data.csv',encoding="ISO-8859-1")

In [39]:
data

            Date  Stars                                            Comment
0     29/10/2019      1  I had an accident with an Uber driver in Mexic...
1     28/10/2019      1  I have had my account completely hacked to whe...
2     27/10/2019      1  I requested an 8 mile ride in Boston on a Satu...
3     27/10/2019      1  I've been driving off and on with the company ...
4     25/10/2019      1  Uber is overcharging for Toll fees. When In Fl...
...          ...    ...                                                ...
2342  10/01/2014      2  everyone knows uber  is fast but when you had ...
2343  18/12/2013      1  For a service that asks for your credit card n...
2344  18/12/2013      2  great service, but hiring drivers who do not k...
2345  13/05/2013      1  Uber has several problems that make it a poor ...
2346  08/05/2013      5  Uber is kind of like magic. You punch a few bu...

[2347 rows x 3 columns]

In [40]:
def sentiment(df):
    if (df['Stars'] > 3):
        return "best"
    elif (df['Stars'] < 3):
        return "worst"
    if(df['Stars'] == 3):
        return "average"

In [41]:
data['Sentiment'] = data.apply(sentiment,axis=1)

In [42]:
data

,Date,Stars,Comment,Sentiment
0,29/10/2019,1,I had an accident with an Uber driver in Mexic...,worst
1,28/10/2019,1,I have had my account completely hacked to whe...,worst
2,27/10/2019,1,I requested an 8 mile ride in Boston on a Satu...,worst
3,27/10/2019,1,I've been driving off and on with the company ...,worst
4,25/10/2019,1,Uber is overcharging for Toll fees. When In Fl...,worst
...,...,...,...,...
2342,10/01/2014,2,everyone knows uber is fast but when you had ...,worst
2343,18/12/2013,1,For a service that asks for your credit card n...,worst
2344,18/12/2013,2,"great service, but hiring drivers who do not k...",worst
2345,13/05/2013,1,Uber has several problems that make it a poor ...,worst
2346,08/05/2013,5,Uber is kind of like magic. You punch a few bu...,best