In [118]:
import pandas as pd
import numpy as np

In [119]:
df=pd.read_csv('Uber Review Data.csv', encoding = "ISO-8859-1")
df.head()

         Date  Stars                                            Comment
0  29/10/2019      1  I had an accident with an Uber driver in Mexic...
1  28/10/2019      1  I have had my account completely hacked to whe...
2  27/10/2019      1  I requested an 8 mile ride in Boston on a Satu...
3  27/10/2019      1  I've been driving off and on with the company ...
4  25/10/2019      1  Uber is overcharging for Toll fees. When In Fl...

In [120]:
df.shape

(2347, 3)

In [121]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

In [122]:
x=df["Comment"]
y=df["Stars"]

In [123]:
df['Comment'] = df.Comment.map(lambda x: x.lower())

In [124]:
df

            Date  Stars                                            Comment
0     29/10/2019      1  i had an accident with an uber driver in mexic...
1     28/10/2019      1  i have had my account completely hacked to whe...
2     27/10/2019      1  i requested an 8 mile ride in boston on a satu...
3     27/10/2019      1  i've been driving off and on with the company ...
4     25/10/2019      1  uber is overcharging for toll fees. when in fl...
...          ...    ...                                                ...
2342  10/01/2014      2  everyone knows uber  is fast but when you had ...
2343  18/12/2013      1  for a service that asks for your credit card n...
2344  18/12/2013      2  great service, but hiring drivers who do not k...
2345  13/05/2013      1  uber has several problems that make it a poor ...
2346  08/05/2013      5  uber is kind of like magic. you punch a few bu...

[2347 rows x 3 columns]

In [125]:
 df['Comment'] = df.Comment.str.replace('[^a-z ,]', '')

In [126]:
# string.replaceAll("[^a-zA-Z0-9]", "");
df

            Date  Stars                                            Comment
0     29/10/2019      1  i had an accident with an uber driver in mexic...
1     28/10/2019      1  i have had my account completely hacked to whe...
2     27/10/2019      1  i requested an  mile ride in boston on a satur...
3     27/10/2019      1  ive been driving off and on with the company s...
4     25/10/2019      1  uber is overcharging for toll fees when in flo...
...          ...    ...                                                ...
2342  10/01/2014      2  everyone knows uber  is fast but when you had ...
2343  18/12/2013      1  for a service that asks for your credit card n...
2344  18/12/2013      2  great service, but hiring drivers who do not k...
2345  13/05/2013      1  uber has several problems that make it a poor ...
2346  08/05/2013      5  uber is kind of like magic you punch a few but...

[2347 rows x 3 columns]

In [127]:
import nltk
# nltk.download()
# df['Comment'] = df['Comment'].apply(nltk.word_tokenize)
df["Comment"] = df["Comment"].fillna("").map(nltk.word_tokenize)
print(df)

            Date  Stars                                            Comment
0     29/10/2019      1  [i, had, an, accident, with, an, uber, driver,...
1     28/10/2019      1  [i, have, had, my, account, completely, hacked...
2     27/10/2019      1  [i, requested, an, mile, ride, in, boston, on,...
3     27/10/2019      1  [ive, been, driving, off, and, on, with, the, ...
4     25/10/2019      1  [uber, is, overcharging, for, toll, fees, when...
...          ...    ...                                                ...
2342  10/01/2014      2  [everyone, knows, uber, is, fast, but, when, y...
2343  18/12/2013      1  [for, a, service, that, asks, for, your, credi...
2344  18/12/2013      2  [great, service, ,, but, hiring, drivers, who,...
2345  13/05/2013      1  [uber, has, several, problems, that, make, it,...
2346  08/05/2013      5  [uber, is, kind, of, like, magic, you, punch, ...

[2347 rows x 3 columns]

In [128]:
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()
 
df['Comment'] = df['Comment'].apply(lambda x: [stemmer.stem(y) for y in x])

In [129]:
x_train,x_test,y_train,y_test=train_test_split(count,df['Stars'],test_size=0.3)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(1642, 8159) (705, 8159) (1642,) (705,)

In [130]:
df['Comment'] = df['Comment'].apply(lambda x: ' '.join(x))
count_vectorizer=CountVectorizer()
count = count_vectorizer.fit_transform(df['Comment'])
# count_train=count_vectorizer.fit_transform(x_train.values)
# count_test=count_vectorizer.transform(x_test.values)

In [131]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [132]:
x_train,x_test,y_train,y_test=train_test_split(count,df['Stars'],test_size=0.3)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(1642, 7247) (705, 7247) (1642,) (705,)

In [133]:
from sklearn import metrics
from sklearn.naive_bayes import MultinomialNB

In [134]:
nb_classifier=MultinomialNB()

In [135]:
model=nb_classifier.fit(count,y_train)
pred= model.predict(x_test)
# print(np.mean(pred == y_test))

ValueError: Found input variables with inconsistent numbers of samples: [2347, 1642]

In [ ]:
from sklearn.metrics import confusion_matrix

print(confusion_matrix(y_test, pred))