In [1]:
import pandas as pd

Bag of Words

In [14]:
# considered a sample message
message = ['call you tonight','Call me a cab', 'please call me.. please']

Process of converting free text to structured data is called as Text Vectorization.

In [15]:
#instantiate CountVectorizer (vectorizer)
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()    # creating object
vect.fit(message)
vect.get_feature_names()    # unique words from text
# it extract the unique words from the message

['cab', 'call', 'me', 'please', 'tonight', 'you']

# Transform message 
(Bag of Words)

In [6]:
message_transformed = vect.transform(message)
print(message)
print(vect.get_feature_names())
message_transformed.toarray()

['call you tonight', 'Call me a cab', 'please call me.. please']
['cab', 'call', 'me', 'please', 'tonight', 'you']

array([[0, 1, 0, 0, 1, 1],
       [1, 1, 1, 0, 0, 0],
       [0, 1, 1, 2, 0, 0]], dtype=int64)

In [20]:
data = pd.DataFrame(message_transformed.toarray())
data.columns = vect.get_feature_names()
print(message)
data.head()

['call you tonight', 'Call me a cab', 'please call me.. please']

   cab  call  me  please  tonight  you
0    0     1   0       0        1    1
1    1     1   1       0        0    0
2    0     1   1       2        0    0

In [21]:
data.loc[0,'outcome'] = 'info'
data.loc[1,'outcome'] = 'order'
data.loc[2,'outcome'] = 'request'

In [22]:
data.head()

   cab  call  me  please  tonight  you  outcome
0    0     1   0       0        1    1     info
1    1     1   1       0        0    0    order
2    0     1   1       2        0    0  request

# TFIDF - Term frequency inverse Document Frequency

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfvect = TfidfVectorizer()  # creating object
trans = tfvect.fit_transform(message)
pd.DataFrame(trans.toarray(),columns = tfvect.get_feature_names())

        cab      call        me    please   tonight       you
0  0.000000  0.385372  0.000000  0.000000  0.652491  0.652491
1  0.720333  0.425441  0.547832  0.000000  0.000000  0.000000
2  0.000000  0.266075  0.342620  0.901008  0.000000  0.000000